@import "src/styles.scss";

.primary-button {
  width: 100%;
  height: 40px;
  background-color: orange;
  border-radius: 4px;
  border: none;
  box-shadow: $shadow;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    background-color: rgb(190, 190, 190);
  }

  &:not(:disabled):hover {
    background-color: rgb(216, 152, 32);
  }

  &:not(:disabled):active {
    background-color: rgb(180, 129, 34);
  }
}
