.tracking-table {
  border-collapse: collapse;

  thead {
    tr {
      border-bottom: 1px solid #505050;

      td {
        padding: 8px;

        &:not(:last-child) {
          border-right: 1px solid #505050;
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #505050;
    }

    td {
      padding: 8px;

      &:not(:last-child) {
        border-right: 1px solid #505050;
      }
    }
  }
}
