.add-tracking {
  width: 250px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  input:nth-child(1) {
    margin-bottom: 9px;
  }

  input:nth-child(2) {
    margin-bottom: 32px;
  }
}
