.tracking-page {
  display: flex;
  height: 100vh;

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside:nth-child(1) {
    border-right: 2px solid #e9e9e9;
    flex: 1;

    display: flex;
    flex-direction: column;

    .add-tracking {
      margin-bottom: 24px;
    }
  }

  aside:nth-child(2) {
    height: 100vh;
    overflow: hidden;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 24px;

    .table-wrapper {
      height: 95%;
      overflow-y: auto;
    }

    .accordion {
      margin-bottom: 16px;
    }
  }
}
