.accordion {
  width: 100%;
  height: 40px;
  color: white;
  overflow: hidden;
  border-radius: 4px;

  header {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    background-color: #858585;
    cursor: pointer;
  }

  section {
    padding: 16px;
    background-color: #a5a5a5;
  }
}

.accordion.open {
  height: auto;
}
